.cover {
    margin: 48px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    aspect-ratio: 1184/740;
}

@media screen and (max-width: 1184px) {
    .cover {
        margin: 0;
    }
}